################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ClientHealthReports/FileContentIndex/f4e467f3-caed-4eba-9a96-fe5ee3218ea5.vsidx
/.vs/ClientHealthReports/FileContentIndex/fb6aac8c-b8e9-49ce-a552-a4e669959047.vsidx
/.vs/ClientHealthReports/v17
/.vs/ClientHealthReports/FileContentIndex
/.vs
